/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  color: #445161;
  text-align: center;
}

.text p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

.header {
  background: #445162;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.header__text {
  color: white;
}

.header__title {
  font-size: 60px;
  margin: 0 0 40px 0;
}

.header__list {
  font-size: 20px;
}

.header__list-item {
  position: relative;
  padding: 0 0 0 35px;
}
.header__list-item:not(:last-child) {
  margin: 0 0 15px 0;
}
.header__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 19px;
  background: url("../img/icons/check_icon.png");
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 49px 121px 46px 50px;
  height: 290px;
}

.about__image {
  margin: 0 38px 0 0;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title_l {
  text-align: left;
}

.columns {
  background: #f5f5f5;
}

.columns__body {
  padding: 48px 64px 49px 58px;
}

.columns__title {
  margin: 0 0 30px 0;
}

.columns__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 575px;
  margin: 0 0 30px 0;
}

.columns__block-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 150px;
  background: #445161;
  margin: 0 15px 0 0;
}

.columns__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title_fs {
  font-size: 24px;
}

.vertical__body {
  padding: 50px 145px;
}

.vertical__title {
  margin: 0 0 30px 0;
}

.vertical__flex-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  background: #445162;
  border-radius: 7px;
  padding: 0 2px 20px;
}

.card__1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card__title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
}

.card__name {
  font-size: 40px;
  color: #445162;
  text-align: center;
  background: white;
  margin: 0 0 15px 0;
  padding: 15px 0;
}

.card__text {
  padding: 0 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 20px 0;
}
.card__text p:not(:last-child) {
  margin: 0 0 30px 0;
}

.text_white p {
  color: white;
}

.text_fs p {
  font-size: 14px;
}

.card__link {
  background: white;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  width: 260px;
  padding: 0 18px;
  margin: 0 auto;
}
.card__link, .card__link:visited {
  color: #445161;
}

.footer {
  padding: 30px 0;
  background: #f5f5f5;
}

.footer__copy {
  font-size: 12px;
  text-align: center;
  color: #445162;
  letter-spacing: 0.025em;
}